$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  background: url('../images/space-background.jpg') no-repeat;
  background-size: cover;
}

.header {
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  h3 {
    color: grey;
  }
  .header-title {
    h3 {
      margin: 10px 0;
      text-transform: uppercase;
    }
  }
  .header-discovered, .header-range {
    h3{
      font-size: 16px;
      margin: 14px 0;
      text-transform: uppercase;
    }
  }
}



/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

}
