.transparent-modal {
  text-align: center;
  .modal-dialog {
    .modal-content {
      opacity: 0.8;
      border-color: white;
      padding: 5px;
      .content-wrapper {
        background-color: black;
        color: white;
        .modal-header {
        }
        .modal-body {
          display: table;
          .badge-img {
            display: table-cell;
            vertical-align: middle;
            width: 40%;
            img {
              width: 100%;
            }
          }
          .range-description {
            display: table-cell;
            vertical-align: middle;
            p {
              text-align: justify;
            }
          }
          &.resume-information {
            text-align: left;
          }
        }
        .modal-footer {
          border: none;
        }
      }
    }
  }
}
