.planets-container {
  margin-top: 70px;
}

.planet-wrapper {
  text-align: center;
  .planet {
    margin: auto;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    &:hover {
      cursor: pointer;
      box-shadow: black 10px 10px 30px;
      -moz-box-shadow: black 10px 10px 30px;
    }
    .planet-shader {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      background-image: -webkit-radial-gradient(circle, transparent 80%, black);/* Safari 5.1 to 6.0 */
      background-image: -o-radial-gradient(circle, transparent, black); /* For Opera 11.6 to 12.0 */;
      background-image: -moz-radial-gradient(circle, transparent, black); /* For Firefox 3.6 to 15 */;
      background-image: radial-gradient(circle, transparent, #191919); /* Standard syntax */;
    }
  }
  .planet-name {
    color: white;
    font-family: 'Antic';
    font-weight: bold;
    font-size: 18px;
  }
  &#languagia {
    .planet {
      width: 70px;
      height: 70px;
      background: url('../images/languagia-texture.png') center center;
    }
  }
  &#work-experiencitas {
    .planet {
      width: 200px;
      height: 200px;
      background: url('../images/work-texture.png') center center;
    }
  }
  &#educatia {
    .planet {
      width: 150px;
      height: 150px;
      background: url('../images/educatia-texture.png') center center;
    }
  }
  &#hobbiens {
    .planet {
      width: 50px;
      height: 50px;
      background: url('../images/hobbiens-texture.png') center center;
    }
  }
  &#projectus {
    .planet {
      width: 130px;
      height: 130px;
      background: url('../images/projectus-texture.png') center center;
    }
  }
  &#tecnicus-knowledge {
    .planet {
      width: 150px;
      height: 150px;
      background: url('../images/tecnicus-knowledge.png') center center;
    }
  }
}
@-webkit-keyframes rotateIn {
  0% {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, -200deg);
    transform: rotate3d(0, 0, 1, -200deg);
    opacity: 0;
  }

  100% {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: none;
    transform: none;
    opacity: 1;
  }
}

@keyframes rotateIn {
  0% {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, -200deg);
    transform: rotate3d(0, 0, 1, -200deg);
    opacity: 0;
  }

  100% {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: none;
    transform: none;
    opacity: 1;
  }
}

.rotateIn {
  -webkit-animation-name: rotateIn;
  animation-name: rotateIn;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}