<div data-backdrop="static" data-keyboard="false" class="modal fade transparent-modal contactia-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="content-wrapper">
                <div class="modal-header">
                    <h3 class="modal-title">Contact</h3>
                </div>
                <div class="modal-body resume-information">
                  <div class="form-group">
                    <label class="control-label">Name: </label>
                    <span>Amina Layco</span>
                  </div>
                  <div class="form-group">
                    <label class="control-label">Email: </label>
                    <a href="mailto:amina.layco@gmail.com" target="_blank">amina.layco@gmail.com</a>
                  </div>
                  <div class="form-group">
                    <label class="control-label">LinkedIn: </label>
                    <a href="//www.linkedin.com/in/aminalayco" target="_blank">www.linkedin.com/in/aminalayco</a>
                  </div>
                  <div class="form-group">
                    <label class="control-label">Github: </label>
                    <a href="//github.com/aminix" target="_blank">https://github.com/aminix</a>
                  </div>
                </div>
                <div class="modal-footer">
                    <button ng-click="showNewRangeModal()" type="button" class="btn btn-start-mission antic-font" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
