<div data-backdrop="static" data-keyboard="false" class="modal fade transparent-modal educatia-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="content-wrapper">
                <div class="modal-header">
                    <h3 class="modal-title">Education</h3>
                </div>
                <div class="modal-body resume-information">
                  <ul class="">
                    <li>
                      <h5>Software Engineer (5-year degree):</h5>
                      <ul>
                        <li>Austral University, Buenos Aires, Argentina - March 2008 - May 2013</li>
                        <li>GPA: 8.1 of 10 (graduated with honors)</li>
                      </ul>
                    </li>
                    <li>
                      <h5>Exchange student (B.S. in Computer Science):</h5>
                      <ul>
                        <li>University of the Incarnate Word, San Antonio, Texas - January 2012 - May 2012</li>
                      </ul>
                    </li>
                    <li>
                      <h5>High School:</h5>
                      <ul>
                        <li>Colegio Secundario de Paso de los Libres, Argentina - March 2005 - December 2007</li>
                      </ul>
                    </li>
                  </ul>
                </div>
                <div class="modal-footer">
                    <button ng-click="showNewRangeModal()" type="button" class="btn btn-start-mission antic-font" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
