<div data-backdrop="static" data-keyboard="false" class="modal fade transparent-modal languagia-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="content-wrapper">
                <div class="modal-header">
                    <h3 class="modal-title">Language</h3>
                </div>
                <div class="modal-body resume-information">
                  <ul>
                    <li>Spanish:</li>
                    <ul>
                      <li>Native</li>
                    </ul>
                  </ul>
                  <ul>
                    <li>English:</li>
                    <ul>
                      <li>Professional</li>
                      <li>TOEFL certificate (May 2011): score 98 of 120</li>
                    </ul>
                  </ul>
                </div>
                <div class="modal-footer">
                    <button ng-click="showNewRangeModal()" type="button" class="btn btn-start-mission antic-font" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
