<div data-backdrop="static" data-keyboard="false" class="modal transparent-modal fade projectus-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="content-wrapper">
                <div class="modal-header">
                    <h3 class="modal-title">Projects</h3>
                </div>
                <div class="modal-body resume-information">
                  <ul>
                    <li><h4>Resume Project:</h4></li>
                    <ul>
                      <li>Is this Resume Universe you are exploring right now, you can find the code <a href="//github.com/aminix/aminix.github.io" target="_blank">here</a></li>
                      <li>
                        I read somewhere that looking for candidate's resumes is a time consuming and monotonous task.
                        I wanted to give recruiters a different experience when going through my resume, it is targeted to those curious recruiters
                        with some spare time looking for something different.
                      </li>
                    </ul>
                    <li><h4>Get-Capture</h4></li>
                    <ul>
                      <li>Chrome extension that allows people to take screenshots of an area of the browser view or the whole page and editing the result.</li>
                      <li>You can find the code <a href="//github.com/aminix/get-capture" target="_blank">here</a>.</li>
                    </ul>
                  </ul>
                </div>
                <div class="modal-footer">
                    <button ng-click="showNewRangeModal()" type="button" class="btn btn-start-mission antic-font" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
