<div class="galaxy-container">
    <div ng-if="utils.missionStarted" class="planets-container">
        <div class="row">
            <div class="col-sm-3 col-sm-offset-11">
                <div planet id="languagia" planet-name="Planet Languagia"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div planet id="work-experiencitas" planet-name="Planet Work Experiencitas"></div>
            </div>
        </div>
    </div>
    <div ng-if="!utils.missionStarted" class="start-mission-container">
        <button ng-click="startMission()" class="btn btn-lg btn-start-mission antic-font">START MISSION</button>
    </div>
</div>
