<div class="galaxy-container">
    <div ng-if="utils.missionStarted" class="planets-container">
        <div class="row">
            <div class="col-sm-3 col-sm-offset-9">
                <div planet id="languagia" planet-name="Languagia"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 col-sm-offset-1">
                <div planet id="work-experiencitas" planet-name="Work Experiencitas"></div>
            </div>
            <div class="col-sm-4 col-sm-offset-2">
                <div planet id="educatia" planet-name="Educatia"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 col-sm-offset-9">
                <div planet id="hobbiens" planet-name="Hobbiens"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div planet id="projectus" planet-name="Projectus"></div>
            </div>
            <div class="col-sm-4 col-sm-offset-1">
                <div planet id="tecnicus-knowledge" planet-name="Tecnicus Knowledge"></div>
            </div>
        </div>
    </div>
    <div ng-if="!utils.missionStarted" class="start-mission-container">
        <button ng-click="startMission()" class="btn btn-lg btn-start-mission antic-font">START MISSION</button>
    </div>
</div>
